{:source-paths ["src"]
 :deps {:aliases [:cljs]}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:space {:init-fn space/init}}}}

 :dev-http
 {8000 "public"}}
